.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height:100px;
    font-family: Yatra One;
    font-size: 125%;
}
table {
    font-family: Yatra One;
    border-collapse: collapse;
    width: 100%;
    background-color: #3399ff; 
    font-size: 125%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: Yatra One;
}
tr:nth-child(even) {
    background-color: #000000;
    font-family: Yatra One;
}
.avatar {
    vertical-align: middle;
    width: 75px;
    height: 100px;
    border-radius: 50%;
    font-family: Yatra One;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #3399ff;
    overflow: hidden;
    font-family: Yatra One;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Yatra One;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #3399ff;
    color: black;
    font-family: Yatra One;
    font-size: 125%;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #FCFCFC;
    color: #000000;
    font-family: Yatra One;
}
body {
  background: #000000;
  color: white;
  line-height: 200%;
  font-family: Yatra One;
}
.active{
  background-color: #2600FF;
  font-family: Yatra One;
  font-size: 125%;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 125%;
    width: 50px;
    text-align: center;
    text-decoration: none;
    font-family: Yatra One;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    font-family: Yatra One;
    font-size: 125%;
}
/* Facebook */
.fa-facebook {
    background: #0066cc;
    color: white;
    font-family: Yatra One;
    font-size: 125%;
}
.fa-instagram {
    background: #4da6ff;
    color: white;
    font-family: Yatra One;
    font-size: 125%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 500px;
    font-family: Yatra One;
    font-size: 125%;
}
ul {list-style-type: none;}
body {font-family: Yatra One; font-size: 125%;}
/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
    font-family: Yatra One;
    font-size: 125%;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
    font-family: Yatra One;
    font-size: 125%;
}
.month ul li {
    color: white;
    font-size: 125%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Yatra One;
}
/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    font-family: Yatra One;
    font-size: 125%;
}
/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    font-family: Yatra One;
    font-size: 125%;
}
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    font-family: Yatra One;
    font-size: 125%;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-family: Yatra One;
    font-size: 125%;
}
/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    font-family: Yatra One;
    font-size: 125%;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 125%;
    color: #777;
    font-family: Yatra One;
}
/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
    font-family: Yatra One;
    font-size: 125%;
}
